<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1>
    <form id="register-form">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Register">
    </form>
    <a href="{{url_for('views.login')}}">Already have an acount? Log in</a><br>
    <script>
        document.getElementById('register-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submission

            // Get username and password from form
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Send username and password to Flask server
            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({username: username, password: password}),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Server response:', data);
                // Clear textboxes
                document.getElementById('username').value = '';
                document.getElementById('password').value = '';

                window.location.href = '/chat';
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle errors if needed
            });
        });
    </script>
</body>
</html>